body {
    font-family: Arial, sans-serif;
    padding: 0;
    background-color: #5F814F;
    margin: 0; /* Ajuste de margen para eliminar los espacios adicionales */
}

.terratrade {
    color: white;
    margin: 0; /* Ajuste de margen para alinearlo mejor */
    padding: 0 20px; /* Ajuste de padding para dar espacio alrededor del texto */
    font-size: 40px; /* Ajuste del tamaño de fuente para que no sea demasiado grande */
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-weight: bold;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #5F814F; /* Color de fondo para el encabezado */
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 30px; /* Aumentado el margen derecho para más espacio */
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    cursor: pointer; /* Cambiado el cursor */
}

.login-btn button,
.comenzar-btn button {
    border: none;
    border-radius: 20px;
    background-color: #6abf7c;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer; /* Cambiado el cursor */
}

.imagen-y-frase {
    display: flex;
    align-items: center;
    padding: 20px; /* Añadir espacio alrededor de la imagen y la frase */
}

.imagen {
    flex: 0 0 auto;
    margin-right: 20px;
}

.frase {
    color: #fff;
    font-size: 16px;
    text-align: left;
}

.frase h1 {
    margin: 0;
    padding: 0;
    text-align: left;
}

.comenzar-btn {
    margin-top: 20px;
    text-align: left;
}

.comenzar-btn button {
    border: none;
    border-radius: 20px;
    background-color: #6abf7c;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}
